@layer base {
    @font-face {
        font-family: 'Shiromeda';
        src: url('/fonts/Shiromeda_Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Shiromeda';
        src: url('/fonts/Shiromeda_Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}